<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>ĐĂNG NHẬP</h1><br>
    <form ng-submit="ModalInstanceCtrl.login()">
      <input type="text" ng-model="ModalInstanceCtrl.username" name="username" placeholder="Tên đăng nhập">
      <input type="password" ng-model="ModalInstanceCtrl.password" name="password" placeholder="Mật khẩu">
      <div ng-if="ModalInstanceCtrl.errorMsg != null" class="alert alert-danger">
        {{ ModalInstanceCtrl.errorMsg }}
      </div>
      <input type="submit" name="login" class="login loginmodal-submit" value="Đăng nhập">
    </form>

    <div class="login-help">
      Chưa có tài khoản ? <a href ng-click="ModalInstanceCtrl.openRegister()">Đăng kí</a>
    </div>
  </div>
</div>
<!--
<div class="modal-footer">
  <button class="btn btn-default" ng-click="modalInstance.cancel()">Cancel</button>
</div>
-->
