<div id="hello">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h1>TEACHY</h1>
        <h2>Giải pháp đánh giá môn học online</h2>
      </div>
    </div>
  </div>
</div>

<div id="green">
  <div class="container">

    <div class = "row">
      <div class="col-xs-4">
        <img class="img-responsive" src="images/img/tree.png">
      </div>
      <div class="col-xs-8">
        <h3 style="text-align : center">Giới thiệu</h3>

        <p><strong>Teachy</strong> là một project môn Công nghệ phần mềm của nhóm <strong>High</strong> với mục đích hiện đại hóa việc đánh giá
        giáo viên cũng như môn học. Việc mà vốn từ lâu đã được nhận xét là khá phiền phức cũng như rất lãng phí giấy,
        đồng thời cũng không mang lại những thông tin hữu ích cho sinh viên</p>
      </div>
    </div>
  </div>
</div>

<div id="team">
  <div class="container">

    <div class="row centered mt">
      <h3>Thành viên</h3>
    </div>
    <div class="row centered mt">
      <div class="col-xs-offset-2 col-xs-4">
          <img src="images/hai.jpg" class="img-responsive img-circle" width="200" height="200" style="margin: 0 auto">
          <h4>Nguyễn Hoàng Hải</h4>
          <p class="text-muted">Team Leader - Back-end dev</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://github.com/hoanghai0701" target="_blank"><i class="fa fa-github"></i></a>
            </li>
            <li><a href="https://www.facebook.com/hai.nguyenhoang.3557" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href=""><i class="fa fa-google"></i></a>
            </li>
          </ul>
      </div>
      <div class="col-xs-4" style="text-align: center">
        <img src="images/dat.jpg" class="img-responsive img-circle" width="200" height="200" style="margin: 0 auto">
        <h4>Đạt Chan</h4>
        <p class="text-muted">Front-end dev</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://github.com/trongdat3011" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li><a href="https://www.facebook.com/datchanw" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href=""><i class="fa fa-google"></i></a>
          </li>
        </ul>
      </div>

    </div>
    <div class="row centered mt">
      <div class="col-xs-4" style="text-align: center">
        <img src="images/dong.jpg" class="img-responsive  img-circle" width="200" height="200" style="margin: 0 auto">
        <h4>Nguyễn Trọng Đông</h4>
        <p class="text-muted">Non-tech</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://github.com/meodorewan" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li><a href="https://www.facebook.com/winterrrrrrrr" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href=""><i class="fa fa-google"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-xs-4" style="text-align: center">
        <img src="images/minh.jpg" class="img-responsive  img-circle" width="200" height="200" style="margin: 0 auto">
        <h4>Nguyễn Hữu Nhật Minh</h4>
        <p class="text-muted">Non-tech</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://github.com/iamminh96" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li><a href="https://www.facebook.com/meo.myth" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href=""><i class="fa fa-google"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-xs-4" style="text-align: center">
        <img src="images/hung.jpg" class="img-responsive  img-circle" width="200" height="200" style="margin: 0 auto">
        <h4>Cao Xuân Hưng</h4>
        <p class="text-muted">Non-tech</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://github.com/xuanhungayo" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li><a href="https://www.facebook.com/xuanhungayo" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href=""><i class="fa fa-google"></i></a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</div>


<div id="skills">
  <div class="container">
    <div class="row centered">
      <h3>Công nghệ - Framework sử dụng</h3>
      <div class="row centered mt grid">
        <div class="col-xs-3">
          <img src="images/HTML5.png" class="img-responsive" width="128" height="128" style="margin: 0 auto">
        </div>
        <div class="col-xs-3" style="text-align: center">
          <img src="images/css3.png" class="img-responsive" width="128" height="128" style="margin: 0 auto">
        </div>
        <div class="col-xs-3" style="text-align: center">
          <img src="images/angularjs.png" class="img-responsive" width="128" height="128" style="margin: 0 auto">
        </div>
        <div class="col-xs-3" style="text-align: center">
          <img src="images/bootstrap.png" class="img-responsive" width="128" height="128" style="margin: 0 auto">
        </div>
      </div>
      <div class="row centered mt grid">
        <div class="col-xs-offset-3 col-xs-3" style="text-align: center">
          <img src="images/laravel.png" class="img-responsive" height="128" width="187"  style="margin: 0 auto">
        </div>
        <div class="col-xs-3" style="text-align: center">
          <img src="images/phpmysql.png" class="img-responsive" height="128" width="237" style="margin: 0 auto">
        </div>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /skills -->

<div id="f">
  <div class="container">
    <div class="row">
      <p><strong>Teachy2016</strong> no rights reserved</p>
    </div>
  </div>
</div>
