<div class="row">
  <div class="col-xs-3">
    <p class="lead">Môn học</p>
    <select class="form-control" ng-model="RatingCtrl.selectedSubject"
            ng-options="RatingCtrl.subjects.indexOf(subject) as subject.name for subject in RatingCtrl.subjects"
            ng-change="RatingCtrl.changeSubject()">
      <option value="" disabled selected hidden>Chọn một môn học</option>
      <!-- <option ng-repeat="subject in subjects track by $index" value = {{$index}}>{{subject.name}}</option> -->
    </select>
    <br/>
    <p class="lead">Giảng viên</p>
    <!--<div class="list-group" ng-repeat="subject in subjects" ng-if="subject.id == subjects[selectedSubject].id">-->
      <a ng-repeat="instructor in RatingCtrl.subject.instructors track by $index" class="list-group-item"
         ng-class="{'active':RatingCtrl.selectedInstructor == $index}"
         ng-click="RatingCtrl.setInstructor($index)">
        {{instructor.name}}
      </a>
    <!--</div>-->
  </div>

  <form ng-submit="RatingCtrl.submit()">
    <div class="col-xs-9">
      <div class="panel panel-default" ng-show="RatingCtrl.selectedInstructor != -1">
        <div class="panel-heading">
          <h3 class="panel-title">Mẫu đánh giá</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12" ng-repeat="criterion in RatingCtrl.criteria">
            <h4>{{criterion.text}}</h4>
            <div ng-if="RatingCtrl.rating.assessments[criterion.id] != null" star-rating ng-model="RatingCtrl.rating.assessments[criterion.id]" max="5"></div>
          </div>
        </div>
        <div class="footer footer-submit">
          <div ng-if="RatingCtrl.notiMsg != null" class="alert alert-success">
            {{ RatingCtrl.notiMsg }}
          </div>
          <a href ng-click="RatingCtrl.randomRating()" style = "margin:40px">
            <i class="ace-icon fa fa-random"></i>&nbsp;Ngẫu nhiên
          </a>
          <button type="submit" class="btn btn-success btn-submit">
            <i class="ace-icon fa fa-check"></i>&nbsp;Đánh giá
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
