<div class="modal-dialog" id="login">
  <div class="form-wrap">
    <h1>Đăng ký tài khoản mới</h1>
    <hr>
    <form role="form" id="login-form" ng-submit="ModalInstanceCtrl.register()">

      <input class="form-control"  type="text" required ng-model="ModalInstanceCtrl.registerData.username" id="username" placeholder="Tên đăng nhập">
      <p class="error-msg" ng-if="ModalInstanceCtrl.errorData != null" ng-repeat="error in ModalInstanceCtrl.errorData.username">
        {{ error }}
      </p>

      <input class="form-control" type="password" required ng-model="ModalInstanceCtrl.registerData.password" id="password" placeholder="Mật khẩu">
      <p class="error-msg" ng-if="ModalInstanceCtrl.errorData != null" ng-repeat="error in ModalInstanceCtrl.errorData.password">
        {{ error }}
      </p>

      <input class="form-control" type="password" required ng-model="ModalInstanceCtrl.registerData.password_confirmation" id="password_confirmation" placeholder="Nhập lại mật khẩu">
      <p class="error-msg" ng-if="ModalInstanceCtrl.errorData != null" ng-repeat="error in ModalInstanceCtrl.errorData.password_confirmation">
        {{ error }}
      </p>

      <input class="form-control" type="text" required ng-model="ModalInstanceCtrl.registerData.name" id="name" placeholder="Tên người dùng">
      <p class="error-msg" ng-if="ModalInstanceCtrl.errorData != null" ng-repeat="error in ModalInstanceCtrl.errorData.name">
        {{ error }}
      </p>

      <input class="form-control"  type="text" required ng-model="ModalInstanceCtrl.registerData.email" id="email" placeholder="Email">
      <p class="error-msg" ng-if="ModalInstanceCtrl.errorData != null" ng-repeat="error in ModalInstanceCtrl.errorData.email">
        {{ error }}
      </p>

      <input class="form-control" type="text" required ng-model="ModalInstanceCtrl.registerData.code" id="code" placeholder="Mã sinh viên">
      <p class="error-msg" ng-if="ModalInstanceCtrl.errorData != null" ng-repeat="error in ModalInstanceCtrl.errorData.code">
        {{ error }}
      </p>

      <div  ng-model="ModalInstanceCtrl.notiMsg" ng-if="ModalInstanceCtrl.notiMsg != null" class="notice notice-success">
        {{ ModalInstanceCtrl.notiMsg }}
      </div>

      <div  ng-model="ModalInstanceCtrl.errorMsg" ng-if="ModalInstanceCtrl.errorMsg != null" class="notice notice-danger">
        {{ ModalInstanceCtrl.errorMsg }}
      </div>

      <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Đăng kí">

    </form>
    <p>Đã có tài khoản ? <a ng-click="ModalInstanceCtrl.openLogin()"><strong>Đăng nhập</strong></a></p>

    <hr>
  </div>
</div>
