<div class="row">
  <div class="col-md-3">
    <p class="lead">Pick a subject</p>
    <select class="form-control" ng-model="selectedSubject">
      <option value = "" disabled selected hidden>Select or search a subject</option>
      <option ng-repeat="subject in subjects track by $index" value = {{$index}}>{{subject.name}}</option>
    </select>
    <br/>
    <p class="lead">Instructors list</p>
    <div class="list-group" ng-repeat="subject in subjects" ng-if="subject.id == subjects[selectedSubject].id">
      <a ng-repeat="instructor in subject.data" class="list-group-item" ng-class="{'active':selectedInstructor.id === instructor.id}" ng-click="selectedInstructor.id = instructor.id">
        {{instructor.name}}
      </a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default" ng-show="selectedInstructor.id != -1">
      <div class="panel-heading">
        <h3 class="panel-title">Instructor Details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <img class="img-thumbnail img-circle" ng-src="{{instructors[selectedInstructor.id].imgUrl}}">
          </div>
          <div class="col-md-8">
            <h1>{{instructors[selectedInstructor.id].name}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
